.wrapper {
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: stretch;
  background-color: #34495e;
  

  
  .sidebar {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  min-width: 240px;
  max-width: 240px;
  margin-left: -240px;
  transition: all 0.5s;
  
    &.is-open {
      margin-left: 0;
      transition: 0.5s;
  
      @media only screen and (max-width: 575px) {
        min-width: 100%;
        max-width: 100%;
        transition: all 0.5s, height 0s;
  
          .fixed {
            min-width: 100%;
            max-width: 100%;
          }
  
          .sidebar-header .times {
            display: unset;
          }
        }
      }
  
      .sidebar-header {
        margin-top: 50px;
        text-align: center;
  
        img {
          width: 110px;
          max-width: 220px;
        }
  
        .times {
          position: relative;
          float: right;
          margin: 0.5em;
          font-size: 2rem;
          cursor: pointer;
          display: none;
        }
      }
  
      .fixed {
        z-index: 99999;
        min-width: 240px;
        max-width: 240px;
        position: fixed;
        top: 0;
        bottom: 0;
        height: 100vh;
        overflow-y: auto;
        background: #34495e;
        -webkit-overflow-scrolling: auto;
        transition: 0.5s;
      }
  
      .nav-item {
        border-radius: 5px;
  
        &.menu-open {
          background: #3d502c;
  
          .dropdown-toggle::after {
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
          }
        }
  
        .nav-link {
          padding: 0.5rem 1rem;
          border-radius: 5px;
          margin-top: 4px;
          color: white;
  
          &:hover {
            padding-left: 1.3rem;
          }
  
          &.active {
            background: #2ecc71;
          }
  
          &.dropdown-toggle {
            cursor: pointer;
            position: relative;
  
            &::after {
              border: 0;
              font-size: 12px;
              content: "\276F";
              position: absolute;
              right: 11px;
              top: 11px;
  
              transition: ease-in 0.2s;
            }
          }
        }
      }
  
      .items-menu {
        color: #fff;
  
        .nav-link {
          &::before {
            content: "";
            width: 8px;
            height: 8px;
            border-radius: 50%;
            border: 0.1rem solid #fff;
            display: inline-block;
            margin-right: 10px;
            margin-left: 3px;
          }
        }
      }
    }
  
    .outer-border {
      width: 100%;
      padding: 0;
      background: #34495e;
  
      .content {
        margin-left: 0;
        min-height: 100vh;
        background: #fff;
  
        .navbar {
          border-bottom: 1px solid #d7dde2;
  
          .nav-link {
            margin-left: 1.5rem;
            color: black;
          }
        }
  
        &.is-open {
          @media only screen and (max-width: 575px) {
            overflow-y: hidden;
            -webkit-overflow-scrolling: none;
            margin-left: 100%;
          }
        }
  
        .sec-header {
          padding: 10px;
          padding-left: 20px;
          background: #fefcf6;
          border-left: 6px solid #ffc107;
        }
      }
    }
  }
  
  .login {
    display: flex;
    min-height: 100vh;
    align-items: center;

    .border {
      border: 1px solid rgba(0,0,0,0.125);
      border-radius: 15px;
      background-color: #ffffff;

    .login-error {
      color: red;
    }
    }
  }
  .task {
    display: flex;
    justify-content: center;
    .task-info {
      color: red;
    }

  }
  .admin-card {
    width: 200px;
    text-align: center;

    .card-img {
      width: 100px;
      align-self: center;
      margin-top: 15px;
    }
  }

  /* Courses */


  .row-classes{
    text-align: center;
  
    .container-classes {
      border-right: 1px solid #e3e9e4;
    }
      .course-card {
        border-radius: 10px;
        background-color: #f0f0f0;
        box-shadow:0 6px 10px 0 rgba(0, 0, 0, 0.19) ;
        color: black;
        margin: 15px;
  
        &:hover {
          background-color: #e4e1e1;
        }
        
        .card-title{
          font-size: 20px;;
          color: black;
        }
        .card-body {
          display: flex;
          justify-content: space-between;
  
          .edit-icon {
            color: #f58a42;
            font-size: 25px;
            cursor: pointer;

            &:hover {
              color: #be540d;
            }
          }
        }
        .nav-link{
          display: flex;
          justify-content: space-between;
          cursor: pointer;
          color:rgb(110, 101, 101);
        }
        .delete-icon {
          font-size:25px;
          color: rgb(247, 19, 19) !important;
          display: flex;
          align-self: center;

          &:hover{
            color:rgb(167, 23, 23) !important;
          }
        }
      }
    .add-course {
      height: 100vh;

      .div-button {
        display: flex;
        justify-content: end;

        .open-form-button {
          display: flex;
          transition: ease;
          height: 32px;
          border-radius: 6px;
          margin: 15px 0;

          .add-form-icon {
            color: white;
          }

          h3{
            font-size: 15px;
            color: white;
          }
        }
      }
    }
  }

  /* Notification */
  .add-notification {
    display: flex;
    justify-content: end;

    .add-button{
      display: flex;
      transition: ease;
      border-radius: 6px;
      margin-top: 10px;

    h3 {
      font-size: 15px;
      margin: 0;
    }
    }
  }
  .modal-header {
    display: flex;
    justify-content: center;
  }
  
  .cards {
    text-align: center;

    .card {
      width: 350px;
      min-height: 120px;
      border-radius: 10px;
      font-weight: 600;
      margin:0 10px 20px 10px;
      
      .card-title{
        font-size: 20px;;
      }

      .icon {
        font-size:40px;
        margin-top: 18px;
        text-align: left;
        color: white;
      }
      .nav-link{
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        color: white;

        &:hover {
          padding-left: 1.3rem;
        }
      }
      .card-text {
        font-size: 25px;
        display: flex;
        align-items:flex-end;
      }
    }
    .admin {
      opacity: 0.7;
    }
    .teacher-list {
      opacity: 0.7;
    }
    .student-list {
      background-color: #4a745b !important;
      opacity: 0.8;
    }
    .notifications{
      background-color:rgba(235, 113, 52 ,0.9) !important ;
    }
  }
  .alert {
    position: relative;

    .icon {
      position: absolute;
      right: 20px;
      font-size: 25px;
    }
  }
  .paginationBttns {
    width: 80%;
    height: 40px;
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.paginationBttns a {
    padding: 8px;
    margin: 30px 10px;
    border-radius: 5px;
    border: 1px solid #f58a42;
    color: #f58a42;
    cursor: pointer;
}

.paginationBttns a:hover{
    color: white;
    background-color: #f58a42;
}

.paginationActive a {
    color: white;
    background-color: #f58a42;
}
.nextBttn{
    text-decoration: none;
}
.previousBttn{
    text-decoration: none;
}
.paginationActive{
    color: white;
}
