body {
    background: #f0f0f2;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
  
    @media only screen and (max-width: 575px) {
      font-size: 14px;
    }
  }
  
  a,
  a:hover,
  a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }
  
  button:focus {
    outline: none;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
  }
  
  table {
    td, th {
      vertical-align: middle !important;
  
      .form-control {
        min-width: 150px;
      }
    }
  }
  
  .form-control:focus {
    border-color: #2684FF;
    box-shadow: 0 0 0 1px #2684FF;
  }
  
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
  }
  
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3,
  .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto,
  .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12,
  .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
  .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md,
  .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2,
  .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7,
  .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1,
  .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3,
  .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8,
  .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10,
  .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4,
  .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9,
  .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }
  
  .alert {
    border: none;
  }
  
  .alert-info {
    color: #546366;
    background-color: #edf3f5
  }
  
  .reactPhoneInput {
    display: flex;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  
    &.disabled {
      background: #e9ecef;
    }
  
    &.PhoneInput--focus {
      border-color: #2684FF;
      box-shadow: 0 0 0 1px #2684FF;
    }
  
    .PhoneInputCountryIcon--border {
      box-shadow: 0 0 0 var(--PhoneInputCountryFlag-borderWidth) var(--PhoneInputCountryFlag-borderColor),
      inset 0 0 0 var(--PhoneInputCountryFlag-borderWidth) var(--PhoneInputCountryFlag-borderColor) !important;
    }
  
    input {
      border: none;
      outline: none;
    }
  }